In [1]:
import pandas as pd
df=pd.read_csv('carsMPG_data.csv')

In [2]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    int64
 8   car name      392 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 27.7+ KB

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

# Convert columns value into one-hot-encoding

In [4]:
dummies=pd.get_dummies(df['cylinders'])
df=pd.concat([df, dummies], axis=1)
dummies=pd.get_dummies(df['model year'])
df=pd.concat([df, dummies], axis=1)
dummies=pd.get_dummies(df['origin'])
df=pd.concat([df, dummies], axis=1)

In [5]:
df.iloc[:, 9:]

,3,4,5,6,8,70,71,72,73,74,...,76,77,78,79,80,81,82,1,2,3
0,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
388,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
389,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
390,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
391,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0

In [6]:
df.head(1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,3,...,76,77,78,79,80,81,82,1,2,3
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,0,...,0,0,0,0,0,0,0,1,0,0

In [7]:
# Remove columns those we have converted into one-hot-encode
df = df.drop('cylinders', 1)
df = df.drop('model year', 1)
df = df.drop('origin', 1)

In [9]:
df.head()

,mpg,displacement,horsepower,weight,acceleration,car name,3,4,5,6,...,76,77,78,79,80,81,82,1,2,3
0,18.0,307.0,130,3504,12.0,chevrolet chevelle malibu,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,15.0,350.0,165,3693,11.5,buick skylark 320,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,18.0,318.0,150,3436,11.0,plymouth satellite,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,16.0,304.0,150,3433,12.0,amc rebel sst,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,17.0,302.0,140,3449,10.5,ford torino,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [10]:
X=df.iloc[:,1:] #independent feature
y=df.iloc[:,0]  #depependent feture
X=X.drop('car name',1)

In [11]:
X

,displacement,horsepower,weight,acceleration,3,4,5,6,8,70,...,76,77,78,79,80,81,82,1,2,3
0,307.0,130,3504,12.0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,1,0,0
1,350.0,165,3693,11.5,0,0,0,0,1,1,...,0,0,0,0,0,0,0,1,0,0
2,318.0,150,3436,11.0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,1,0,0
3,304.0,150,3433,12.0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,1,0,0
4,302.0,140,3449,10.5,0,0,0,0,1,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,140.0,86,2790,15.6,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
388,97.0,52,2130,24.6,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
389,135.0,84,2295,11.6,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
390,120.0,79,2625,18.6,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
391,119.0,82,2720,19.4,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0

In [12]:
y

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
387    27.0
388    44.0
389    32.0
390    28.0
391    31.0
Name: mpg, Length: 392, dtype: float64

In [13]:
import numpy as np
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

ridge= Ridge()
# here we make a list of alphas from 1 to 200 and give 300 numbers in between
parameters= {'alpha': list(np.linspace(1,200, 300))}
ridge_regressor=GridSearchCV(ridge,parameters,scoring='neg_mean_squared_error',cv=5)
ridge_regressor.fit(X,y)

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': [1.0, 1.665551839464883, 2.331103678929766,
                                   2.9966555183946486, 3.6622073578595318,
                                   4.327759197324415, 4.993311036789297,
                                   5.65886287625418, 6.3244147157190636,
                                   6.989966555183947, 7.65551839464883,
                                   8.321070234113712, 8.986622073578594,
                                   9.652173913043478, 10.31772575250836,
                                   10.983277591973245, 11.648829431438127,
                                   12.31438127090301, 12.979933110367893,
                                   13.645484949832776, 14.31103678929766,
                                   14.976588628762542, 15.642140468227424,
                                   16.307692307692307, 16.97324414715719,
                                   17.638795986622075, 18.304347826086957,
                                   18.96989966555184, 19.63545150501672,
                                   20.301003344481604, ...]},
             scoring='neg_mean_squared_error')

In [14]:
print(ridge_regressor.best_params_)
print(ridge_regressor.best_score_)

{'alpha': 1.0}
-16.8455427399112

In [15]:
from sklearn.linear_model import Lasso
ridge= Lasso()
parameters= {'alpha': list(np.linspace(1,200, 300))}
lasso_regressor=GridSearchCV(ridge,parameters,scoring='neg_mean_squared_error',cv=5)
lasso_regressor.fit(X,y)

GridSearchCV(cv=5, estimator=Lasso(),
             param_grid={'alpha': [1.0, 1.665551839464883, 2.331103678929766,
                                   2.9966555183946486, 3.6622073578595318,
                                   4.327759197324415, 4.993311036789297,
                                   5.65886287625418, 6.3244147157190636,
                                   6.989966555183947, 7.65551839464883,
                                   8.321070234113712, 8.986622073578594,
                                   9.652173913043478, 10.31772575250836,
                                   10.983277591973245, 11.648829431438127,
                                   12.31438127090301, 12.979933110367893,
                                   13.645484949832776, 14.31103678929766,
                                   14.976588628762542, 15.642140468227424,
                                   16.307692307692307, 16.97324414715719,
                                   17.638795986622075, 18.304347826086957,
                                   18.96989966555184, 19.63545150501672,
                                   20.301003344481604, ...]},
             scoring='neg_mean_squared_error')

In [16]:
print(lasso_regressor.best_params_)
print(lasso_regressor.best_score_)

{'alpha': 1.0}
-24.478804263775174

In [ ]:
Which dataset did you choose?

1. Title: Auto-Mpg Data

2. Sources: UCI DATA SETS

3. Number of Instances: 392

4. Number of Attributes: 9 including the class attribute

8. Attribute Information:

    1. mpg:           continuous (DEPENDANT ATTRIBUTE)
    2. cylinders:     multi-valued discrete
    3. displacement:  continuous
    4. horsepower:    continuous
    5. weight:        continuous
    6. acceleration:  continuous
    7. model year:    multi-valued discrete
    8. origin:        multi-valued discrete
    9. car name:      string (unique for each instance)
        

        
        
        
        
What was your response variable (i.e. what were you trying to model)?

 This dataset is a slightly modified version of the dataset provided in
   the StatLib library.  In line with the use by Ross Quinlan (1993) in
   predicting the attribute "mpg".

   "The data concerns city-cycle fuel consumption in miles per gallon,
    to be predicted in terms of 3 multivalued discrete and 5 continuous
    attributes." (Quinlan, 1993)   

    
    
    
    
    
    
    
Did you expect ridge regression to outperform the lasso, or vice versa?

Ridge regression is an extension for linear regression. It’s basically a regularized linear regression model.
it will not get rid of irrelevant features but rather minimize their impact on the trained model.
Lasso is another extension built on regularized linear regression, but with a small twist.
The only difference from Ridge regression is that the regularization term is in absolute value. 
But this difference has a huge impact on the trade-off we’ve discussed before. 
Lasso method overcomes the disadvantage of Ridge regression by not only punishing high values of the coefficients 
that are useless but actually setting them to zero if they are not relevant. 
Therefore, you might end up with fewer features included in the model than you started with.

HOWEVER since we have a very small dataset and expect the whole of the data set to be utilized in the processing
we EXPECT RIDGE REGRESSION TO PERFORM BETTER AND AS IT TURNS OUT IN THIS CASE IT DID.








Which predictors turned out to be important in the final model(s)?

alpha values 1 turned out to be important for predictions in the final models.